@using DataModellen
@model SLT_Site.Models.Dashboard.ListOverviewModel
@{
    Lijst l = Model.Lijstje;
}

<h3>@l.Titel</h3>

@foreach (Woord w in l.WoordenLijst)
{
    @:<p>@w.Begrip - @w.Betekenis</p>
}



