@using DataModellen
@model SLT_Site.Models.Dashboard.ListOverviewModel
@{
    Lijst l = Model.Lijstje;
}

<h3>@l.Titel</h3>
<table id="WoordenTabel">
    <tbody>
    <tr>
        <th>Woord</th>
        <th>Betekenis</th>
    </tr>
    @foreach (Woord w in l.WoordenLijst)
    {
        <tr class="Row">
            <td>
                <input type="text" name="Woord" value="@w.Begrip"/>
            </td>
            <td>
                <input type="text" name="Betekenis" value="@w.Betekenis"/>
            </td>
        </tr>
    }
    </tbody>
</table>



