@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<head>

</head>
<body>
<h3>Welkom Admin @ViewData["Username"]!</h3>

<button onclick="window.location.href = '@Url.Action("CreateAdmin", "Admin")'">Klik hier om een admin toe te voegen!</button>
    @TempData["Succes"]
</body>