@using DataModellen
@model SLT_Site.Models.Overhoren.StartOverhoringModel
@{
    Overhoring h = Model.Overhoring;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    var i = 0;
    var t = 0;
    var k = 1;
    var fout = 0;
    var goed = 0;
    $(document).ready(function () {
        var wordsArray = @Html.Raw(Model.Jsonstring);
        if ("@h.Random" == "True") {
            wordsArray = Shuffle(wordsArray);
        }
        if ("@h.Vraag" == "Betekenis") {
            t = 1;
            k = 0;
        }
        $("#Vraag").text(wordsArray[i][t]);
        $("#button").click(function () {
            var input = $("#textInput").val();
            if (input == "") {
                alert("Uw antwoord is leeg, vul iets in!");
            } else {
                if (input == wordsArray[i][k]) {
                    goed++;
                } else {
                    fout++;
                }
                i++;
            }
             if (i == wordsArray.length) {
                 alert("De overhoring is agelopen,\nJe had " + goed + " vragen goed!\nJe had " + fout + " vragen fout!");
                 window.location.href = '@Url.Action("Index", "Dashboard")';
                }
            else
            {
                $("#AantalFout").text("Aantal fout: " + fout);
                $("#AantalGoed").text("Aantal goed: " + goed);
                $("#Vraag").text(wordsArray[i][t]);
                $("#textInput").val("");
            }
        });
    });

    function Shuffle(test) {
        var input = test;

        for (var i = input.length-1; i >=0; i--) {

            var randomIndex = Math.floor(Math.random()*(i+1));
            var itemAtIndex = input[randomIndex];

            input[randomIndex] = input[i];
            input[i] = itemAtIndex;
        }
        return input;
    }
</script>

<h3 id="Vraag"></h3>
<input type="text" id="textInput" />
<button id="button">Volgende Vraag</button>
<h3 id="AantalFout">Aantal fout: 0</h3>
<h3 id="AantalGoed">Aantal goed: 0</h3>